<h1>Here you can view your questions!</h1>
<ul class="allQuestions">
    {{#each this}}
    <li>
        <h2><a href="#/home/question/{{@key}}">{{title}}</a></h2>
        <p>Category: {{category}} | Likes: {{likes}} | Dislikes: {{dislikes}} | Author: {{author}} | Date: {{date}} | Answers: {{answers.length}}</p>

    </li>
    {{/each}}
</ul>
