<h1>Question Details</h1>
<h2>{{title}}</h2>
<h3>{{body}}</h3>
<p>Category: {{category}} | Likes: {{likes}} | Dislikes: {{dislikes}} | Author: {{author}} | Date: {{date}}</p>
<ul class="allComments">
    {{#each answers}}
    <li>
        <h4>{{this.body}}</h4>
        <p>Likes: {{this.likes}} | Dislikes: {{this.dislikes}} | Author: {{this.author}} | Date: {{this.date}}</p>
    </li>
    {{/each}}
</ul>
