{{#ifUser}} {{#each this}}
<li>
    <h2><a href="#/home/question/{{id}}">{{title}}</a></h2>
    <p>Category: {{category}} | <a href="#/processQuestionLike/{{category}}/{{id}}">Likes:</a> {{likesCount this}} | <a href="#/processQuestionDislike/{{category}}/{{id}}">Dislikes</a>: {{dislikesCount this}} | Author: {{author}} | Date: {{date}} | Answers: {{answersCount this}}</p>

</li>
{{/each}} {{else}} {{#each this}}
<li>
    <h2><a href="#/home/question/{{id}}">{{title}}</a></h2>
    <p>Category: {{category}} | <a href="javascript:void(0)">Likes:</a> {{likesCount this}} | <a href="javascript:void(0)">Dislikes</a>: {{dislikesCount this}} | Author: {{author}} | Date: {{date}} | Answers: {{answersCount this}}</p>

</li>
{{/each}} {{/ifUser}}
